body {
  font-family: "Lato", "Roboto", sans-serif;
  background-color: beige;
  color: black;
}

div.pagination {
  list-style-type: none;
  text-align: center;
}

div.pagination div {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  margin-left: 5px;
  margin-right: 5px;
}

nav {
  text-align: center;
}

nav div.item {
  float: left;
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

main {
  clear: both;

}

a:link, a:visited, a:hover {
  color: blue;
  transition: all 0.5s;
  text-decoration: none;
}

header a:hover {
  text-shadow: 1px 1px 1px blue;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1081px) {
  .container {
    width: 80%;
  }
}

.article img {
  max-height: 10%;
  max-width: 10%;
  float: right;
  transition: all 1s;
  margin: 10px;
}

.article img:hover {
  max-height: 100%;
  max-width: 50%;
}

header, .article {
  margin-bottom: 40px;
}

.article {
  background-color: white;
  box-shadow: 0.25em 0.25em 0.25em lightgrey;
  transition: all 0.5s;
  padding: 10px;
  min-height: 130px;
}

.article:hover {
  box-shadow: 1em 1em 1em lightgrey;
  /*transform: perspective(10em) translateZ(0.5em);*/
}

.code-breaker {
  margin-left: 5px;
  margin-right: 5px;
}

.pagination .active {
  background-color: blue;
  color: white;
}

.article.pinned {
  box-shadow: 0.4em 0.4em 0.4em lightsteelblue;
}

.article.pinned:hover {
  box-shadow: 1em 1em 1em lightsteelblue;
}

header small {
  float: right;
  font-size: small;
  font-variant: small-caps;
}