<!DOCTYPE html>
<html lang="pl" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"/>
  <link rel="alternate" type="application/atom+xml" title="Najnowsze informacje" href="{{ url_for("feed_atom") }}"/>
  <title>NeoStaszic-3</title>
  <meta name="description"
        content="Alternatywna i nieoficjalna strona I Liceum Ogólnokształcącego im. Stanisława Staszica w Lublinie"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" type="text/css"/>
  <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"/>
  <meta property="og:site_name" content="NeoStaszic-3"/>
  <meta property="og:locale" content="pl_PL"/>
  {% block head %}{% endblock head %}
</head>
<body>
<div class="container">
  <header>
    <small>alternatywna i nieoficjalna strona I Liceum Ogólnokształcącego im. Stanisława Staszica w Lublinie</small>
    <h1><a href="/">NeoStaszic-3</a></h1>
    <nav>
      <div class="item"><a href="http://lo01.pl/plan/">Plan lekcji</a></div>
      <div class="item"><a href="https://za.staszic.space">Zastępstwa</a></div>
      <div class="item"><a href="{{ url_for("feed_atom") }}">RSS</a></div>
    </nav>
  </header>
  <main>
    {% block body %}{% endblock body %}
  </main>
</div>
</body>
</html>
