<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"/>
  <link rel="canonical" href="https://staszi.cf{{ request.path }}"/>
  <link rel="alternate" type="application/atom+xml" title="Najnowsze informacje" href="{{ url_for("feed_atom") }}"/>
  <title>NeoStaszic-3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" type="text/css"/>
  <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"/>
  {% block head %}{% endblock head %}
</head>
<body>
<div class="container">
  <header>
    <h1><a href="/">NeoStaszic-3</a></h1>
  </header>
  <main>
    {% block body %}{% endblock body %}
  </main>
</div>
</body>
</html>