{% extends "core.html" %}
{% block head %}
  <link rel="canonical" href="https://staszi.cf{{ url_for("news_item", item=article.id) }}"/>
  <meta property="og:title" content="{{ article.title }}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="{{ article.cleantext | truncate(100) }}"/>
  <meta property="article:published_time" content="{{ article.time }}"/>
  <meta http-equiv="Last-Modified" content="{{ article.time }}"/>
  {% if "img" in article and article.img != None %}
    <meta property="og:image" content="http://lo01.pl/staszic/{{ article.img }}"/>
  {% endif %}
  <meta property="og:url" content="https://staszi.cf{{ url_for("news_item", item=article.id) }}"/>
{% endblock head %}
{% block body %}
  <div class="article" itemscope itemtype="https://schema.org/NewsArticle">
    <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage"
          itemid="https://staszi.cf{{ url_for("news_item", item=article.id) }}"/>
    <meta itemprop="url" content="https://staszi.cf{{ url_for("news_item", item=article.id) }}"/>
    {% if "img" in article and article.img != None %}
      <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <img generator-unable-to-provide-required-alt src="http://lo01.pl/staszic/{{ article.img }}"/>
        <meta itemprop="url" content="http://lo01.pl/staszic/{{ article.img }}"/>
      </div>
    {% endif %}
    <h2 itemprop="headline">{{ article.title }}</h2>
    <h5>
      <span itemprop="author" itemscope itemtype="https://schema.org/Person">dodane przez <span
          itemprop="name">{{ article.author }}</span></span> <span class="code-breaker">&middot;</span>
      <time itemprop="datePublished"
            datetime="{{ article.time }}">{{ article.time }}</time>
    </h5>

      <span itemprop="description">
        {{ article.content | safe }}
      </span>
  </div>
{% endblock body %}
